@font-face {  
  font-family: "Cambria Math";  
  src: url(Cambria_Math.otf); /* IE */  
  src: local("Sick Capital Vice"), url(Cambria_Math.ttf) format("truetype"); /* non-IE */  
}  

body {
	background: #ededed;
}

a {
	color: #800000;
	text-decoration: underline;
}

a:hover {
	color: #800000;
	text-decoration: none;
}

.logo {
	background: url(logo.png) no-repeat;
	height: 50px;
	width: 50px;
	display: block;
	margin: 0 auto;
}

blockquote {
	font-family: 'Cambria Math', Georgia, sans-serif;
	border-color: #800000;
}

/* REWORK */
.rework {
	margin-top: 100px;
}

.rework .logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rework blockquote {
	width: 190px;
	margin: 0 auto;
}

.rework blockquote p {
	font-size: 28px;
	text-transform: uppercase;
}

.rework nav {
	text-align: center;
	width: 100%;
}

.rework nav a {
	text-transform: uppercase;
	display: inline-block;
	font-size: 18px;
	font-family: 'Cambria Math', Georgia, sans-serif;
}

.rework nav a:first-child {
	margin-right: 50px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.rework { margin-top: 20px; }
	.rework blockquote p { font-size: 20px;	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.rework { margin-top: 20px; }
	.rework blockquote p { font-size: 20px;	}
}

